@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@media screen and (max-width: 760px) {
    .banner-container{
        flex-direction: column;
    }

    .banner-container h1{
        box-sizing: content-box;
    }
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

.banner-wrapper{
    width: 100%;
    background-color: beige;
    margin: 0;
}

.banner-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: beige;
    padding: .5em 1em;
}

.banner-container h1{
    margin-left: 3em;
}

.poke-form button{
    width: 5em;
    height: 2.3em;
    background-color: rgba(255, 68, 0, 0.674);
    border: 2px solid rgba(255, 68, 0, 0.674);
}

.poke-form input{
    width: 20em;
    height: 2em;
    text-align: center;
}

.card{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.333);
}

.card-dimension{
    width: 25px;
    height: 400px;
}